# Node dependencies
node_modules/
the-badminton-club-ui/node_modules/
the-badminton-club-backend/node_modules/

# Logs
*.log

# Build output
/dist/
the-badminton-club-ui/dist/
the-badminton-club-backend/dist/

# Environment variables
.env
the-badminton-club-ui/.env
the-badminton-club-backend/.env